.git
.github
.gitignore
.env
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
venv
.venv
env
node_modules
dist
.tempmediaStorage
.user_uploaded
browser
*.log
*.sqlite3
*.pdf
*.docx
misc
To be Deleted
tests/__pycache__
backend/__pycache__
docs
notebooks
scratch
